<div class="w-full h-16 px-14 pt-5 pb-4 relative bg-amber-200 inline-flex justify-between items-center">
    <div class="text-black text-3xl font-normal font-['Epilogue']">
        Constança Postiga
    </div>
    <div class="px-4 flex justify-start items-center gap-8">
        <a routerLink="/" routerLinkActive="underline" [routerLinkActiveOptions]="{ exact: true }"
            class="text-black text-xl font-normal font-['Cal_Sans'] hover:underline cursor-pointer">
            Projects
        </a>
        <a routerLink="/about" routerLinkActive="underline"
            class="text-black text-xl font-normal font-['Cal_Sans'] hover:underline cursor-pointer">
            About
        </a>
        <a routerLink="/contact" routerLinkActive="underline"
            class="text-black text-xl font-normal font-['Cal_Sans'] hover:underline cursor-pointer">
            Contact
        </a>
    </div>
</div>